@using NoteManagement.Core.DTOs.Note;
@model List<NoteDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@foreach (var item in Model)
{
    <div class="col-lg-12">
        <!-- Dropdown Card Example -->
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary"> # @item.Id / @item.Title </h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">İşlemler: </div>
                        <a class="btn btn-secondary " asp-controller="Note" asp-action="Detail" asp-route-id="@item.Id"> Detay </a>
                        <a class="btn btn-warning" asp-controller="Note" asp-action="Update" asp-route-id="@item.Id">Update</a>
                        <button class="btn btn-outline-danger" onclick="deletedNote(@item.Id)">Sil</button>
                        <div class="dropdown-divider"></div>
                        <h6> Oluşturma Tarihi : @item.CreatedDate </h6>

                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                @item.Text
            </div>

            <div class="card-footer">
                @if (item.SubNotes != null && item.SubNotes.Any())
                {
                    
                }




            </div>

        </div>



    </div>


}




@*@foreach (var item in Model)
{

    @if (item.ParentNoteId == null)
    {
        <div class="col-lg-12">

            <!-- Dropdown Card Example -->
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary"> # @item.Id / @item.Title </h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">İşlemler: </div>
                            <a class="btn btn-secondary " asp-controller="Note" asp-action="Detail" asp-route-id="@item.Id"> Detay </a>
                            <a class="btn btn-warning" asp-controller="Note" asp-action="Update" asp-route-id="@item.Id">Update</a>
                            <button class="btn btn-outline-danger" onclick="deletedNote(@item.Id)">Sil</button>
                            <div class="dropdown-divider"></div>
                            <h6> Oluşturma Tarihi : @item.CreatedDate </h6>

                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    @item.Text
                </div>

                <div class="card-footer">

                    @foreach (var SubNote in Model)
                    {
                        @if (item.Id == SubNote.ParentNoteId)
                        {
                            <div class="col-lg-12">

                                <!-- Dropdown Card Example -->
                                <div class="card shadow mb-4">
                                    <!-- Card Header - Dropdown -->
                                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-primary"> # @item.Id / @SubNote.Title </h6>
                                        <div class="dropdown-header"> Ana Not Id : @SubNote.ParentNoteId </div>
                                        <div class="dropdown no-arrow">
                                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                                                <div class="dropdown-header">İşlemler: </div>
                                                <a class="btn btn-secondary " asp-controller="Note" asp-action="Detail" asp-route-id="@SubNote.Id"> Detay </a> <br> </br>
                                                <a class="btn btn-warning" asp-controller="Note" asp-action="Update" asp-route-id="@SubNote.Id">Update</a> <br> </br>
                                                <button class="btn btn-outline-danger" onclick="deletedNote(@SubNote.Id)">Sil</button>
                                                <div class="dropdown-divider"></div>
                                                <h6> Oluşturma Tarihi : @SubNote.CreatedDate </h6>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- Card Body -->
                                    <div class="card-body">
                                        @SubNote.Text
                                    </div>


                                </div>



                            </div>
                        }
                    }

                </div>

            </div>



        </div>
    }

}
*@



<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    function deletedNote(id) {
        Swal.fire({
            title: 'Emin misiniz !',
            text: "Are you sure you want to delete?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'yes, Delete',
            cancelButtonText: "No",
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "post",
                    url: "/Note/Remove/" + id,
                    success: function (func) {
                        Swal.fire(
                            'Deleted ! ',
                            'Successfully deleted',
                            'success'
                        )
                        setTimeout('', 3000);
                        location.reload();
                    }
                }
                )
            }
        })
    }
</script>