@model NoteManagement.Core.DTOs.Note.NoteUpdateDto

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active"> <a href="/Note/Index">Notlar</a> / Not Güncelle   </li>
</ol>



@using (Html.BeginForm("Update", "Note", FormMethod.Post))
{
    <div class="row">

        <div class="col-6">
            @Html.Label("Pasif Yap")
            @Html.CheckBoxFor(x => x.IsDeleted, new { @class = "form-control" })
        </div>

        <div class=col-md-12>


            @Html.HiddenFor(x => x.Id, new { @class = "form-control" })
            @Html.Label("Başlık")
            @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })

            <br />
            @Html.Label("İçerik")
            @Html.TextBoxFor(x => x.Text, new { @class = "form-control" })
            <br />
            @Html.Label("Ana Not ID")
            @Html.TextBoxFor(x => x.ParentNoteId, new { @class = "form-control" })
            <br />


            <br />
            <button class="btn btn-outline-warning">Güncelle</button>




        </div>

    </div>
}
